---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

$main-font: initial;
$heading-font: initial;
$regular-font-size: x-large;

/* 
* COLOR.
* 
* Make sure to leave color-scheme in config file empty for granular control
* 
*/

$text-color: #333300;
$heading-color: #404040;
$link-color: #006C6A;


@import "ed";
@import "syntax";
@import "custom";
